
<h2 class="center">Tableau de bord</h2><hr>

<div class="">
    <div class="alert alert-success">
        <div class="">
            <div class="pull-left">
                    <img class="media-object" src="{{ asset('images/img-users.gif') }}" alt="icone membre" style="height: 110px">
            </div>
            <div class="">
                <h4>Statistiques Membres</h4>
                Membres Particuliers : {{ dashboard.loadDashboard.member_user }}<br>
                Membres Naturalistes : {{ dashboard.loadDashboard.member_user_nat }}<br>
                Membres Modérateurs : {{ dashboard.loadDashboard.member_moderator }}<br>
                Membres Admin : {{ dashboard.loadDashboard.member_admin }}<br>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="alert alert-warning">
        <div class="">
            <div class="pull-left">

                    <img class="media-object" src="{{ asset('images/img-binocular.gif') }}" alt="icone jumelles" style="height: 110px">

            </div>
            <div class="">
                <h4 class="">Statistiques Observations</h4>
                Nombre total d'observations : {{ dashboard.loadDashboard.count_observation }}<br>
                Observations validées : {{ dashboard.loadDashboard.count_observation_valid }}<br>
                Observations en attentes : {{ dashboard.loadDashboard.count_observation_waiting }}<br>
                Observations rejetées : {{ dashboard.loadDashboard.count_observation_reject }}<br>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="alert alert-info">
        <div class="">
            <div class="pull-left">

                    <img class="media-object" src="{{ asset('images/img-bird.gif') }}" alt="icone oiseau" style="height: 110px">

            </div>
            <div class="">
                <h4>Statistiques espèces</h4>
                Nombre d'espèce : {{ dashboard.loadDashboard.count_species }}<br><br><br><br>
            </div>
        </div>
    </div>
</div>




