{% extends "AppBundle::layoutAdmin.html.twig" %}

{% block title %}Fiche Observation{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="panel panel-primary panel-height">
                <div class="panel-heading">Observation #{{ observation.id }}</div>
                <div class="panel-body">
                    <div class="max_center">
                        {% if observation.image != null  %}
                            <img class="image_obs" src="{{ asset('uploads/images/' ~ observation.image.filename) }}" title="{{ observation.espece.lbNom }}" alt="{{ observation.espece.lbNom }}" />
                        {% else %}
                            <img class="image_obs" src="{{ asset('uploads/images/imgDefaut.png') }}" title="Image par defaut" alt="Image par defaut" />
                        {% endif %}
                    </div>
                    <hr>
                    <div>
                        <table style="width: 100%">
                            <tr><td class="bold_title">Titre</td><td>{{ observation.title }}</td></tr>
                            <tr><td class="bold_title">Date de l'observation</td><td>{{ observation.dateObservation|date("d/m/Y") }}</td></tr>
                            <tr><td class="bold_title">Nom espèce</td><td>{{ observation.espece.lbNom }}</td></tr>
                            <tr><td class="bold_title">Coordonnées GPS</td><td>{{ observation.gpsLatitude }} / {{ observation.gpsLongitude }}</td></tr>
                            <tr><td class="bold_title">Status</td><td>
                                    {% if observation.status == var_project.status_obs_waiting %}<button class="btn btn-warning btn-xs">En attente</button>{% endif %}
                                    {% if observation.status == var_project.status_obs_valid %}<button class="btn btn-success btn-xs">Validée</button>{% endif %}
                                    {% if observation.status == var_project.status_obs_rejeted %}
                                        <button class="btn btn-danger btn-xs">Rejetée</button>
                                        </td></tr>
                                        <tr><td class="bold_title">Description du rejet</td><td>{{ observation.rejectMessage }}
                                    {% endif %}
                                </td></tr>
                            <tr><td class="bold_title">Commentaires</td><td>{{ observation.description }}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="panel panel-primary panel-height">
                <div class="panel-heading">Carte</div>
                <div class="panel-body">
                    {{ render(controller('AppBundle:Default:googleMap', {'listobs': observation})) }}
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Données INPN pour l'espèce "{{ observation.espece.lbNom }}"
                        <a class="link_right" href="{{ path('admin_view_one_species', {'id': observation.espece.id}) }}"><i class="fa fa-eye fright" aria-hidden="true"></i></a>
                    </h3>
                </div>
                <div class="panel-body">
                    <table style="width: 100%">
                        <tr><td class="bold_title">Famille</td><td>{{ observation.espece.famille }}</td></tr>
                        <tr><td class="bold_title">Nom de l'espèce</td><td>{{ observation.espece.lbNom }}</td></tr>
                        <tr><td class="bold_title">Nom de l'auteur</td><td>{{ observation.espece.lbAuteur }}</td></tr>
                        <tr><td class="bold_title">Nom vernaculaire français</td><td>{{ observation.espece.nomVern }}</td></tr>
                        <tr><td class="bold_title">Nom vernaculaire anglais</td><td>{{ observation.espece.nomVernEng }}</td></tr>
                        <tr><td class="bold_title">Url INPN</td><td><a href="{{ observation.espece.url }}">Lien vers INPN</a></td></tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <a class="btn btn-primary btn-sm" href="{{ path('admin_edit_observation', {'id': observation.id}) }}">Editer</a>
    {% endif %}

    {% if is_granted("ROLE_USERNAT") %}
        {% if observation.status == var_project.status_obs_waiting %}
            <a class="btn btn-success btn-sm" href="{{ path('admin_valid_observation', {'id': observation.id}) }}">Valider</a>
            <a class="btn btn-warning btn-sm" href="{{ path('admin_reject_observation', {'id': observation.id}) }}">Rejeter</a>
        {% endif %}
        {% if observation.status == var_project.status_obs_valid %}

        {% endif %}
        {% if observation.status == var_project.status_obs_rejeted %}
            <a class="btn btn-success btn-sm" href="{{ path('admin_valid_observation', {'id': observation.id}) }}">Valider</a>
        {% endif %}

    {% endif %}






{% endblock %}
{% block javascript %}

    <script>
        boxes = $('.panel-height');
        maxHeight = Math.max.apply(
                Math, boxes.map(function() {
                    return $(this).height();
                }).get());
        boxes.height(maxHeight);
    </script>
{% endblock %}