{% extends "AppBundle::layoutAdmin.html.twig" %}
{% block title %}Affiche toutes les espèces{% endblock %}
{% block body %}
    <h2 class="center">Affichage de toutes les espèces.</h2>
    <hr>
    {{ render(controller('AppBundle:SearchAdmin:searchAdminSpeciesForm')) }}
    <br>

    <div class="center">
        <p>Total d'espèces : {{ pagination.getTotalItemCount }}</p>

    </div>

    <br>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th nowrap>{{ knp_pagination_sortable(pagination, 'Famille' , 'taxrefv10.Famille') }}</th>
            <th nowrap>{{ knp_pagination_sortable(pagination, 'Nom scientifique', 'taxrefv10.LbNom') }}</th>
            <th nowrap>{{ knp_pagination_sortable(pagination, 'Nom auteur', 'taxrefv10.LbAuteur') }}</th>
            <th nowrap>{{ knp_pagination_sortable(pagination, 'Nom Vern. Fr', 'taxrefv10.NomVern') }}</th>
            <th nowrap>{{ knp_pagination_sortable(pagination, 'Nom Vern. En', 'taxrefv10.NomVernEng') }}</th>
            <th nowrap></th>
        </tr>
        </thead>
        <tbody>
        {% for espece in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ espece.Famille }}</td>
                <td>{{ espece.LbNom }}</td>
                <td>{{ espece.LbAuteur }}</td>
                <td>{{ espece.NomVern }}</td>
                <td>{{ espece.NomVernEng }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{{ path('admin_view_one_species', {'id': espece.id}) }}">Voir</a>
                    <a class="btn btn-primary btn-xs" href="{{ path('admin_del_species', {'id': espece.id}) }}">Supprimer</a>
                    <a class="btn btn-primary btn-xs" href="{{ path('admin_edit_species', {'id': espece.id}) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
