{% extends "AppBundle::layoutAdmin.html.twig" %}
{% block title %}Affiche toutes les observations{% endblock %}
{% block body %}
    <h2 class="center">Affichage de toutes les observations.</h2>
    <hr>
    {% if status == null %}
        {{ render(controller('AppBundle:SearchAdmin:searchAdminObservationForm')) }}
    {% endif %}
    <br>
    <div class="center">
        <p>Total observations : {{ pagination.getTotalItemCount }}</p>

    </div>

    <br>
    <table class="table table-striped table-hover">
        <thead>
        <tr class="fcenter">
            <th nowrap>{{ knp_pagination_sortable(pagination, 'Titre' , 'observation.title') }}</th>
            <th nowrap>{{ knp_pagination_sortable(pagination, 'Date', 'observation.dateObservation') }}</th>
            <th nowrap>{{ knp_pagination_sortable(pagination, 'Espèce', 'espece.LbNom') }}</th>
            <th nowrap>{{ knp_pagination_sortable(pagination, 'Status', 'observation.status') }}</th>
            <th nowrap>{{ knp_pagination_sortable(pagination, 'Auteur', 'author.username') }}</th>
            <th nowrap></th>
        </tr>
        </thead>
        <tbody>
        {% for observation in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ observation.title }}</td>
                <td>{{ observation.dateObservation|date("d/m/Y") }}</td>
                <td>{{ observation.espece.lbNom }}</td>
                <td>
                    {% if observation.status == var_project.status_obs_waiting %}<button class="btn btn-warning btn-xs">En attente</button>{% endif %}
                    {% if observation.status == var_project.status_obs_valid %}<button class="btn btn-success btn-xs">Validée</button>{% endif %}
                    {% if observation.status == var_project.status_obs_rejeted %}<button class="btn btn-danger btn-xs">Rejetée</button>{% endif %}
                </td>
                <td>{{ observation.author.username }}</td>
                <td>
                    <a class="fright btn btn-primary btn-xs" href="{{ path('admin_view_one_observation', {'id': observation.id}) }}">Voir</a>
                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <a class="fright btn btn-primary btn-xs" href="{{ path('admin_del_observation', {'id': observation.id}) }}">Supprimer</a>
                        <a class="fright btn btn-primary btn-xs" href="{{ path('admin_edit_observation', {'id': observation.id}) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
