{% extends "AppBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="well">
            <h3>Les dernières observations</h3>
            <div class="row">
            {% for listLastObservation in listLastObservations %}

                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h6 class="panel-title">{{ listLastObservation.title | truncate(40, false, '...') }}</h6>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left parent_image_list">
                                    <div class="image_list">

                                        <img class="media-object" src="{{ asset('uploads/images/' ~ listLastObservation.image.filename) }}" title="{{ listLastObservation.espece.lbNom }}" alt="{{ listLastObservation.espece.lbNom }}" />
                                    </div>
                                </div>
                                <div class="media-body">
                                    <p>Nom scien. : {{ listLastObservation.espece.lbNom }}<br>
                                    Nom vern. : {{ listLastObservation.espece.nomVern }}<br>
                                    Date : {{ listLastObservation.dateObservation|date("d/m/Y") }}</p>
                                </div>
                            </div>
                            <a class="btn btn-primary btn-xs pull-right" href="{{ path('view_one_observation', {'id': listLastObservation.id}) }}">Voir la fiche</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="well content-block">
                    <h3 style="text-align: center">L'association NAO</h3>
                    <p>Notre association a pour mission de protéger les oiseaux et leur environnement, d’éduquer et sensibiliser le grand public ainsi que d’améliorer les connaissances sur l’avifaune.<br>
                        A l’aide de son réseau national d’observateurs passionnés, l’association participe notamment à des activités telles le recensement d’oiseaux, le suivi des populations ou la participation à des programmes participatifs contribuant ainsi à l’étude de la biodiversité. </p>
                    <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#modalContact" >Contactez nous !</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('learn_more') }}">En savoir plus</a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="well content-block">
                    <h3 style="text-align: center">La Newsletter</h3>
                    <p>Approfondissez vos connaissances sur les oiseaux en suivant notre blog et en recevant les dernières actualités via notre newsletter.
                        Echangez avec des passionnés et partez à la découverte de la diversité de l’avifaune.<br>
                        N’hésitez pas, vous aussi, à participer et à partager vos commentaires, observations et photos d’oiseaux</p>
                    {{ form_start(formNews, {'action': path('inscription_newsletter')}) }}

                    {{ form_label(formNews.email, "Indiquez votre adresse e-mail", {'label_attr':{'class':''}}) }}
                    {{ form_errors(formNews.email) }}
                    <div class="input-group">
                        {{ form_widget(formNews.email, {'attr': {'placeholder': 'email@email.com', 'class': '', 'type': ''}}) }}
                        <span class="input-group-btn">
                        <input type="submit" value="Ok" class="btn btn-primary" />
                    </span>
                    </div>

                    {{ form_end(formNews) }}

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="well content-block">
                    <h3 style="text-align: center">Particuliers / Passionnés</h3>
                    <p>Partez à la découverte des oiseaux et contribuez  à un vaste programme de sciences participatives visant à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité.<br>
                        Passionnés ou simples curieux, enregistrez vos observations.<br>
                        Vous récoltez ainsi des données indispensables pour les chercheurs.<br>
                        <strong>Nous vous invitons à nous rejoindre !</strong> </p>
                    <a class="btn btn-primary btn-sm" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="well content-block">
                    <h3 style="text-align: center">Professionnels / Naturalistes</h3>
                    <p>Participez au programme de sciences participatives de l’association Nos Amis les Oiseaux visant à étudier les effets du climat, de l’urbanisation et de l’agriculture sur la biodiversité.<br>
                        Soutenez le programme en nous envoyant vos observations et en validant celles de nos bénévoles.<br>
                        <strong>Nous vous invitons à nous rejoindre !</strong></p>
                    <a class="btn btn-primary btn-sm" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

