<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Newsletter</h3>
    </div>
    <div class="panel-body">

                    {{ form_start(formNews, {'action': path('inscription_newsletter')}) }}

                    {{ form_errors(formNews.email) }}
                    {{ form_label(formNews.email, "Indiquez votre adresse e-mail", {'label_attr':{'class':''}}) }}
                    <div class="input-group">
                    {{ form_widget(formNews.email, {'attr': {'placeholder': 'email@email.com', 'class': '', 'type': ''}}) }}
                    <span class="input-group-btn">
                        <input type="submit" value="Ok" class="btn btn-primary" />
                    </span>
                    </div>

                    {{ form_end(formNews) }}


    </div>

    </div>

